<div class="row">
  <div class="span8" id="core_editor" contenteditable=true>
    <word class="word">neal</word> <word>go</word> <word>go</word> <word>ahead</word>!
  </div>


  <div id="shower" class="span8">
  </div>

</div>

<div id=attr_pick></div>
