<div ng-controller='editor'>
  <div id='door' class="row" >
    <div class="span8">
      <div  id="core_editor" contenteditable=true ng-model="editor.name">
        <%= raw @article.html %>
      </div>



      <div class="span4" id="shower" contenteditable=true>
      </div>
    </div>
      <div class="span4" id="attr_pick">
  </div>
      <div class="span4" id="boxes">
  </div>
  </div>
</div>
