<div class="row">
  <div class="span8" id="core_editor" contenteditable=true ng-model="editor.name">
    <word class="word">neal</word> <word>go</word> <word>go</word> <word>ahead</word>!
  </div>

  <form>
    <input ng-model='editor.name'>
  </form>

  <div id="shower" class="span8">
  </div>
  content: {{editor.name}}

</div>

<div id=attr_pick></div>
