<div ng-controller='editor'>
  <div id='door' class="row" >
    <div class="span8">
      <div core id="core_editor" ng-model = "content" contenteditable=true >
        <%= raw @article.html %>
        {{content}}
      </div>
      {{content}}

      <div id="shower" contenteditable=true></div>
    </div>

    <div class="span4" id="attr_pick">
    </div>
    <div class="span2" id="boxes">
    </div>
  </div>
      {{content}}
</div>
