<div ng-controller="main">
  <div id='door' class="row" >
    <div class="span8">
      <div id="core_editor" contenteditable=true >
      </div>

      <div class="row">
        <div class="span2">
          <button ng-click="down_transfer()">&#8595;</button>
          <button ng-click="up_transfer()">&#8593;</button>
        </div>
        <div class="span6" style="text-align: right">
          <button class="btn btn-info" ng-click="addModule()">Save</button>
          <button class="btn btn-success" ng-click="updateArticle()">Save</button>
          <button class="btn btn-alert"ng-click="findFirstAppear()">show strange word</button>
        </div>
      </div>

      <div id="shower_wrapper">
        <div origin id="shower" contenteditable=true>
        </div>
      </div>
    </div>

    <div class="span4" id="attr_pick">
    </div>
    <div class="span2" id="boxes">
    </div>
  </div>
</div>
<script>
  window.editor = ace.edit("shower")
  window.editor.getSession().setMode("ace/mode/xml");
  window.editor.setValue("");
</script>