<div>
  <div id='door' class="row" >
    <div class="span8">
      <div core id="core_editor" ng-model = "content" contenteditable=true >
      </div>

      <button></button>

      <div id="shower_wrapper">
        <div origin id="shower" contenteditable=true>
        </div>
      </div>
    </div>

    <div class="span4" id="attr_pick">
    </div>
    <div class="span2" id="boxes">
    </div>
  </div>
</div>
<script>
  window.editor = ace.edit("shower")
  window.editor.getSession().setMode("ace/mode/xml");
  window.editor.setValue("");
</script>