body {
  padding: 5px;
}
#core_editor {
  height: 300px;
  border-style: dotted;
  overflow: scroll;
  margin-bottom: 5px;
}

#shower {
  margin-top: 5px;
  height: 300px;
  border-style: solid;
  overflow: scroll;
}

input[type=radio] {
  display: inline;
}

.selected_word {
  color: white;
  background-color: black;
}

@mixin main_marker {
  display: inline-block;
  padding: 1px 4px;
  font-weight: bold;
  line-height: 14px;
  color: white;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.first_appear {
  @include main_marker;
  background-color: #f89406;
}

.marked {
  background-color: #468847;
  @include main_marker;
}

#attr_pick {
  height: 300px;
  overflow: scroll;
  border-style :solid;
}

.new_comer {
  font-size: 18px;
  font-weight: normal;
}

.mark-title {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 25px;
  padding: 3px;

}
[tag_type=block] {
  display: block;
  margin-left: 20px
}

blank {
  width: 30px;
  border-bottom-style: solid;
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
}


capsule {
  up {
    overflow: hidden;
    hint {
      float: left;
      border: 1px solid;
      border-bottom: transparent;
    }
  }
  down {
    border: 1px solid;
  }
}

.module_name {
  float: left;
}
.module_body {
  border: solid 1px #3a87ad
}

.module_name_wrapper {
  overflow: hidden;
}

.module_name_wrapper {
  overflow: hidden;
}
.module {
  margin-left: 10px;
}

section_name {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}

instructions {
  font-size: 15px;
  font-weight: bold;
}

word_box {
  margin: 3px;
  padding: 3px;
  border: 1px solid;
}
