body {
  padding: 5px;
}
#core_editor {
  padding: 5px;
  width: 500px;
  height: 300px;
  border-style: dotted;
  overflow: scroll;
}

#shower {
  height: 300px;
  border-style: solid;
}

input[type=radio] {
  display: inline;
}

.selected_word {
  color: white;
  background-color: black;
}

@mixin main_marker {
  display: inline-block;
  padding: 1px 4px;
  font-weight: bold;
  line-height: 14px;
  color: white;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.first_appear {
  @include main_marker;
  background-color: #f89406;
}

.marked {
  background-color: #468847;
  @include main_marker;
}

#attr_pick {
  height: 300px;
  overflow: scroll;
  border-style :solid;
}

.new_comer {
  font-size: 18px;
  font-weight: normal;
}

.mark-title {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 25px;
  padding: 3px;

}
